<div class="accordions-container row" *ngIf="projectList && projectList.length !== 0">
    <div class="accordion-container col-md-12 col-lg-12 col-xxxl-6">
        <nb-accordion multi *ngFor="let project of projectList">
            <nb-accordion-item>
                <nb-accordion-item-header>
                    {{ project.path }}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    last activity at: {{ project.last_activity_at | date:'short' }}
                    <span>{{ project.description }}</span><br>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
</div>